.btn-cabinet{
	color:#fff;
	float:left;
	margin:0 30px 0 0;
	font: bold 14px/37px Arial, Helvetica, sans-serif;
	text-align:left;
	background: url(../images/bg-submit.png) no-repeat;
	padding: 0 0 0 20px;
}
.btn-cabinet span{
	float:left;
	cursor: pointer;
	background: url(../images/bg-submit.png) no-repeat 100% 0;
	padding: 0 20px 0 0;
}
.btn-cabinet:hover{
	background-position: 0 -50px;
	text-decoration: none;
}
.btn-cabinet:hover span{background-position: 100% -50px;}
.friends-list{width: 708px;}
.friends-list li{
	display: inline-block;
	vertical-align: top;
	width: 218px;
	margin: 0 8px 14px 0;
}
.friends-list li a{
	padding: 7px;
	display: block;
	min-height: 72px;
	position: relative;
}
.friends-list li a:hover{
	text-decoration: none;
	background: #f7f4f4;
	padding: 5px;
	border: 2px solid #e6d9da;
}
.friends-list li .active{
	padding: 5px;
	border: 2px solid #e6d9da;
}
.friends-list .sing{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 18px;
	height: 18px;
	background: url(../images/ico-checked.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
}
.friends-list li a:hover .sing,
.friends-list li .active .sing{
	top: 3px;
	right: 3px;
}
.friends-list img{
	float: left;
	margin: 0 15px 0 0;
}
.friends-list .friends-text{
	overflow: hidden;
	/*height: 1%;*/
	display: block;
}
.profile-info .friends-list strong.name{
	float: none;
	width: auto;
	color: #000;
	font: bold 14px/18px Arial, Helvetica, sans-serif;
	margin: 0 0 5px;
	display: block;
}
.friends-list .date{
	display: block;
	padding: 0 0 0 18px;
	margin: 0 0 3px;
	background: url(../images/ico-present.png) no-repeat 0 50%;
	color: #645b5b;
	font: bold 12px/14px Arial, Helvetica, sans-serif;
}
.friends-list .city{
	display: block;
	color: #a59696;
	font: italic 12px/14px Arial, Helvetica, sans-serif;
}
.friends-list .soc-icon{
	position: absolute;
	display: block;
	left: -6px;
	top: -8px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/bg-socials.png) no-repeat;
}
.friends-list li a:hover .soc-icon,
.friends-list li .active .soc-icon{
	/*left: -8px;
	top: -10px;*/
}
.soc-icon.facebook{background-position: 0 0;}
.friends-list a:hover .soc-icon.facebook{background-position: 0 100%;}
.soc-icon.vkontakte{background-position: -40px 0;}
.friends-list a:hover .soc-icon.vkontakte{background-position: -40px 100%;}
.soc-icon.odnoklasniki{background-position: -80px 0;}
.friends-list a:hover .soc-icon.odnoklasniki{background-position:-80px 100%;}